body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(197, 197, 197);
}

.no-mar {
  margin: 0;
  padding: 0;
}

.card-block {
  margin: 30px;
}
.panel {
  box-shadow: 0 2px 0 rgba(0,0,0,0);
  border-radius: 0;
  border: 0;
  margin-bottom: 24px;
}
.panel .panel-heading, .panel>:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bg-primary, .bg-primary a {
  color: #fff;
}
.bg-primary {
  background-color: #5fa2dd;
}
.bg-success, .bg-success a {
  color: #fff;
}
.bg-success {
  background-color: #91c957;
}

.widget-header {
  padding: 15px 15px 50px 15px;
  min-height: 125px;
  position: relative;
  overflow: hidden;
}
.panel {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.widget-body {
  padding: 50px 15px 15px;
  position: relative;
}
.panel-body {
  padding-top: 25px;
}
.pad-all {
  padding: 15px;
}
.widget-img {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  margin-left: -32px;
  top: -32px;
}
.img-md {
  width: 64px;
  height: 64px;
}

input[type=text]:disabled {
  background: #ffffff;
}

input[type=date]:disabled {
  background: #ffffff;
}

:local(.nav > .active > a, .nav-pills > .active > a:hover) {
  background-color:rgb(66, 7, 37);
  color:white !important;
}

.widget-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.img-border-light {
  box-shadow: 0 0 0 4px #fff;
}
.img-border {
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}
.mar-btm {
  margin-bottom: 15px;
}
.mar-top {
  margin-top: 10px;
}
.mar-rt {
  margin-right: 15px;
}
.mar-btm-small {
  margin-bottom: 5px;
}
.pad-ver {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pad-btm {
  padding-bottom: 15px;
}
.pad-top {
  padding-top: 8px;
}
.small, small {
  font-size: 65%;
}
.text-lg {
  font-size: 75%;
}